* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: hsl(210, 46%, 95%);
}

img {
  height: 20rem;
  width: 22rem;
  border-bottom-left-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}
.full-card {
  height: 20rem;
  width: 54rem;
  display: flex;
  background-color: white;
  border-radius: 0.7rem;
  column-gap: 2.5rem;
  margin-right: 3rem;
}
.right {
  margin-top: 2rem;
  margin-right: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1.2rem;
  font-family: "Manrope", sans-serif;
}
#user-pic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: 0 1.1rem 0 0;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  color: hsl(217, 19%, 35%);
}
p {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  line-height: 1.4rem;
  color: hsl(214, 17%, 51%);
}
.foot-1 {
  display: flex;
  align-items: center;
}
.right-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-name {
  color: hsl(217, 19%, 35%);
}

#share {
  height: 1.2rem;
  width: 1.2rem;
  color: hsl(212, 23%, 69%);
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  padding: 0.5rem;
  margin-top: 0.7rem;
  margin-left: 11.75rem;
}
#share:hover {
  background-color: rgb(255, 255, 255);
}

.box {
  position: absolute;
  height: 4rem;
  width: 15rem;
  background-color: hsl(217, 19%, 35%);
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.2rem;
  top: 23.5rem;
  left: auto;
  right: 18rem;
  border-radius: 0.8rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: hsl(214, 17%, 51%);
  box-shadow: 5px 5px 20px 1px #00000041;
}

#logo {
  margin: 0 0.3rem;
  height: 1.3rem;
  width: 1.3rem;
}
.line {
  display: flex;
  align-items: center;
}

/*  Add Media Query  */

@media (max-width: 550px) {
  .full-card {
    height: auto;
    width: 21rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.7rem;
    row-gap: 2rem;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 14rem;
    width: 21rem;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .right {
    margin-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1.2rem;
    font-family: "Manrope", sans-serif;
  }
  p {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    line-height: 1.4rem;
    color: hsl(214, 17%, 51%);
    padding: 0 2rem;
  }
  h2 {
    box-sizing: border-box;
    padding: 0 2rem;
    font-size: medium;
  }
  #share {
    margin-top: 0rem;
    margin-left: 2.6rem;
  }
  .foot {
    font-size: 14;
    margin: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    
    height: 4rem;
    width: 21rem;
    top: 41.8rem;
    left: auto;
    right: 1.4rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: hsl(214, 17%, 51%);
    box-shadow: 5px 5px 20px 1px #00000041;
  }
}
